@use 'variables' as *
.banner-principal-decorativo
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 68%
    left: -10%
    width: 20%
  &-1
    animation: float1 2.7s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 10%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 20%
    width: 20%
@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 58.33333333% !important
.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
    width: 33%
    
// .banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
//   color: $white !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $black !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
// .titulo-principal.color-acento-contenido .titulo-principal__numero span
//   color: $white !important
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
  color: $color-acento-botones !important

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img 
  width: 489.5px !important
.banner-principal
  .banner-principal__row
    transform: translateY(30px)
.banner-principal__row
  .banner-principal__info
    max-width: 550px

.banner-principal
  .container.tarjeta
    background-image: url("../assets/curso/portada/fondo-banner-principal.png")
    background-size: 100% 100% !important
    background-position: center
    min-height: 520px
    @media (max-width: $bp-max-md)
      background-image: url("../assets/curso/portada/fondo-banner-principal-md.png") !important
      overflow: visible !important
      background-size: 100% 100% !important
    @media (max-width: $bp-max-xs)
      background-image: url("../assets/curso/portada/fondo-banner-principal-sm.png") !important
      overflow: visible !important
      background-size: 100% 100% !important
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner.png") !important
  background-size: cover
  background-position: center
  background-repeat: no-repeat
//- Modulo cajones
.cajon.c1
  background-color: #FFE2C3
.cajon.c2
  background-color: #F4F6EA
.cajon.c3
  background-color: #DBE2BA
.cajon.c4
  background-color: #FFE2C3
.cajon.c5
  background-color: #FFF5EA
//-Modulo tarjetas
.tarjeta--bg01
  background-image: url("../assets/curso/temas/bg/bg01.png")
  background-size: cover
  background-repeat: no-repeat
// .tarjeta--bg02
//   background-image: url("../assets/curso/temas/bg/bg02.png")
//   background-size: cover
//   background-repeat: no-repeat
.bg03
  background-image: url("../assets/curso/temas/bg/bg03.png")
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  margin-inline: -6.2rem !important
  padding-inline: 6.2rem !important
  @media (max-width: $bp-max-xl)
    margin-inline: 0 !important       // Resetea y lo obliga a quedarse a 12 cols
    padding-inline: 1.5rem !important  // Deja un espacio interno sutil para que no se pegue al borde
    background-size: cover            // Cover para que el fondo se adapte bien a la nueva proporción
  // Pantallas pequeñas (Móviles)
  @media (max-width: $bp-max-lg)
    margin-inline: 0 !important       // Se mantiene a 12 cols
    padding-inline: 1rem !important   // Un poco menos de espacio en los lados para ganar área de lectura
    background-size: cover
    
.tarjeta--c1
  background-color: #DBE2BA
.tarjeta--c2
  background-color: #B3C487
.tarjeta--c3
  background-color: #FFE2C3
.tarjeta--c4
  background-color: #FFF5EA
.tarjeta--c5
  background-color: #D8EBFF
.tarjeta--c6
  background-color: #7EBDFF
.tarjeta--c7
  background-color: #E8EDDB
.tarjeta--c8
  background-color: #ECF0F1
//Modulo lineas de tiempo

// .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, 
//   background-color: #AE0000
//   border: none
//   color: #fff
.linea-tiempo-d.color-acento-botones.especial
  .linea-tiempo-d__item--selected
    .linea-tiempo-d__item__content
      background-color: #E8EDDB !important 
    .tarjeta.tarjeta--gris
      background-color: #7EBDFF
      span
        color: $black
  .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
    span
      color: #000 !important
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #D8EBFF
.tarjeta.tarjeta--gris
  background-color: #D8EBFF
  span 
    color: $black
.linea-tiempo-d__item__number
  span
    color: #fff
//- Modulo tablas
.table
  width: 100%
  border-collapse: collapse
thead
  tr
    th
      background-color: #FFE2C3
.tabla-a.color-acento-contenido
  td
    text-align: left
.tabla-a.color-primario
  th
    background-color: #FFE2C3
  td
    text-align: left
.tabla-a.responsive
  width: 100%
  overflow-x: auto
  -webkit-overflow-scrolling: touch
  border-radius: 8px
  th, td
  padding: 0.75rem
  text-align: left
  vertical-align: top
  word-break: break-word
  hyphens: auto
  white-space: nowrap
  padding: 0.75rem
  text-align: center
.tabla-a.responsive table
  min-width: 970px
  border-collapse: collapse
.tabla-a.responsive th, .tabla-a.responsive td
  white-space: nowrap
  padding: 0.75rem
  text-align: center
@media (max-width: 768px)
  th, td
    font-size: 0.85rem
    padding: 0.5rem
//- Modulo slyders
.tarjeta--slyder
  height: 100%
  background-color: #FFE2C3
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
  text-align: center
.custom
  .horizontal-scroll__wrapper
    padding: 2rem 0.5rem
.slyder-f__btn i
  color: #7EBDFF
.custom
  .horizontal-scroll
    align-items: stretch !important
.slyder__btn
  background-color: #7EBDFF
  color: #fff
.slyder-b__btn--sigt, .slyder-a__btn--atrs
  background-color: #7EBDFF
  color: #FFFF
  border: none
  opacity: 100
  //-background-image: url(../assets/curso/chevron-right2.png)
.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #7EBDFF
  color: #FFFF
  border: none
  opacity: 100
  //-background-image: url(../assets/curso/chevron-right2.png)
@media (max-width: 576px)
  .slyder-a__btn--atrs, .slyder-a__btn--sigt 
    width: 25px
    height: 25px
.slyder-a__bullets__item
  background-color: #7EBDFF
  border: none
.slyder-a__bullets__item--active
  background-color: #DBE2BA
  border: none
//- Modulo titulos
.titulo-tercer-nivel 
  display: flex
  align-items: stretch /* Alinea la altura del ícono y el texto automáticamente */
  width: fit-content
  &__icon 
    width: 60px        /* Controla el ancho del cuadro del ícono */
    height: auto       /* Mantiene la proporción de la imagen */
    object-fit: contain /* Evita que la imagen se deforme */
    background-color: #FFE2C3 /* Color crema de fondo para el ícono */
    padding: 10px 15px /* Espaciado interno alrededor del ícono */
  &__text 
    background-color: #FFA038 /* El color de fondo naranja para el texto */
    font-weight: bold
    display: flex
    align-items: center /* Centra el texto verticalmente */
    padding-left: 20px !important  /* Margen interno izquierdo del texto */
    padding-right: 30px !important /* Margen interno derecho del texto */
// Modulo versión escritorio/movil para figuras
@media (min-width: 992px)
  .desktop 
    display: inline
  .movil 
    display: none
@media (max-width: 991px)
  .movil 
    display: inline
  .desktop 
    display: none
//- Listas
.lista-ul li, ol.lista-ol li, .lista-ul--color li, .ol.lista-ol--cuadro li, .lista-ol--cuadro li, .lista-ul--separador li
  display: flex
ol.lista-ol--cuadro.lista-ol--separador, ol.lista-ol--cuadro.lista-ol
  li
    .lista-ol--cuadro__vineta
      span.text-bold
        color: $black
.lista-ul--color li > i:first-of-type
  color: #FFA038
//- tarjeta segmentacion
.tarjeta-segmentacion 
  display: flex
  align-items: stretch
  background-color: #FFE2C3 
  //-border-radius: 12px 
  overflow: hidden 
  width: 100%
  &__wrap-img 
    flex: 0 0 30% 
    padding: 0px
    margin: 0
    display: flex
    img 
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center 
  &__wrap-text 
    flex: 1
    padding: 30px 40px
    line-height: 1.6
    display: flex
    align-items: center
  @media (max-width: 991px)
    flex-direction: column
    &__wrap-img 
      flex: 0 0 auto
      width: 100%
      height: 220px
    &__wrap-text 
      padding: 20px
//- Modulo acordions
.acordion
  .acordion__activo
    background-color: #E8EDDB
  .acordion__accion__btn--b
    background-color: #7EBDFF  
    border: none
    color: #ffffff
  .acordion__accion__btn--a
    background-color: #7EBDFF
    border: none
    color: #333
// modulo tabs
// .tabs-a__tab
//   background-color: #AE0000
.tabs-c__content-item
  background-color: #fff
.tabs-c__tab
  background-color: #D8EBFF
  // color: #fff
.tabs-c__tab--active
  background-color: #fff
  color: #000
// .tabs-b__tab--active:hover
//   background-color: #FFE4E4
// .tabs-b__content-item
//   background-color: #DEFFF4
// .tabs-b__tab
//   background-color: #FFE4E4
// .tabs-b__tab--active
//   background-color: #DEFFF4
.tabs-c__header
  margin-bottom: 0 !important
.tabs-c.color-acento-botones .tabs-c__tab--active
  font-weight: 700
//- Modulo tarjetas hover - horizontal
.img75
  width: 75px 
.img80
  width: 80px 
.img90
  width: 90px 
.img95
  width: 95px 
.img50
  width: 50px
.img100
  width: 100px
.img120
  width: 120px
.img130
  width: 130px
.img150
  width: 150px
.img180
  width: 180px
.img200
  width: 200px
.img240
  width: 240px
.img250
  width: 250px
.img280
  width: 280px
.img285
  width: 285px
.img400
  width: 400px
.crd--avatarHorizontal
  position: relative
  padding-right: 12rem
  & > *
    position: relative
  h5 
    color: $black
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 0
    right: 0
    width: calc( 100% - 60px)
    height: 100%
    background-color: #E8EDDB
  @media (max-width: 1000px)
    padding-right: 2rem

.crd--first, .crd--last
  &::before 
    background-color: #F4F6EA !important

.crd--first
  &::before 
    border-top-left-radius: 30px
.crd--last
  &::before 
    border-bottom-left-radius: 30px

.avatar
  position: absolute
  bottom: 0
  right: -4rem
  z-index: 1
  @media (max-width: 1000px)
    display: none
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario
/**************************************************************/
/*Media Queries*/  
/**************************************************************/
//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important
//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important